{% extends 'auctions/layout.html' %}

{% block body %}
<h1>Listing: {{ auction.title }}</h1>
<img src="{{ auction.img_url }}" class="img-fluid" alt="{{ auction.title }}" style="height: 300px;">
<form action="{% url 'watchlist' auction.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary">Watchlist</button>
</form>
{{auction.descripte}}
<h2>${{ auction.current_price }}</h2>
<p>{{ auction.bid_count }} people are bidding</p>
<form action="{% url 'auction' auction.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    {% if message %}
    <p>{{message}}</p>
    {% endif %}
    <button type="submit">Place Bid</button>
</form>
<h2>Details</h2>
<ul>
    <li>Listen by: {{request.user}}</li>
    <li>Category: {{auction.category}}</li>
</ul>
{% endblock %}